.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.population {
    min-width: 180px;
    margin: 0 10px;
}

.countries {
    min-width: 100px;
    margin: 0 10px;
}