.navbar {
	background-color: #ede59a;
}

.navbar-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-menu {
	display: flex;	
}

.navigation-menu-item {
	padding-right: 20px;
	text-transform: uppercase;
}